input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.textblan{
    color: white !important;
    text-decoration: none !important;
}
.textgri{
    color: gray !important;
    text-decoration: none !important;
}
.textver{
    color: green !important;
    text-decoration: none !important;
}
.contenedor{
    position: relative ;
    display: flex;
    text-align: right ;
}
.textofoto{
    float: left !important;
    color: white;
    position: absolute;
    align-content: flex-end;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -65%);
}
.cardz{
    display: flex;
    justify-content: space-around;
    
}
.imadivi{
    display: flex;
    align-content: flex-end;
    
}
.izq{
    background-image: url(https://www.adonde-y-cuando.es/site/images/illustration/honolulu-oahu_489.jpg);
    background-image: center;
    background-image: cover;
    width: 50%;
    height: 100vh;
    border: 2px solid white;
}
.der{
    width: 50%;
    height: 100vh;
    background-color: rgb(46, 48, 51);
    color: white;
    padding: 10px;
    border: 2px solid white;
    }

.imadivi{
    display: flex;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
    
}
.nomap{
    display: flex;
}
.nom { 
    
    padding: 5px;
   
}
.ap { 
    
    padding: 5px;
   
}
.navder{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: stretch;
  position: relative;
  right: 100px;
}
.navderit{
  padding: 10px;
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
.navfoot{
    background-color: rgb(37, 70, 92);
    text-decoration: none;
    align-items: center;
    color: white;
    height: 2cm;
    display: flex;
    justify-content: space-around;

}
.punteado{
    border-bottom:2px dotted #000000;
}
#cuadraditos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cuadradoazul{
    padding: 10px;
    border-style: solid;
    border-color: blue;
    margin: 5px;
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cuadradoverde{
    padding: 10px;
    border-style: solid;
    border-color: rgb(31, 141, 73);
    margin: 5px;
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cuadradoamarillo{
    padding: 10px;
    border-style: solid;
    border-color: rgb(232, 228, 36);
    margin: 5px;
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.alinearcentro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticketform{
    width: 690px;
    padding: 5px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
   
}
.largui{
    width: 670px;
    margin: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(175, 175, 175);
}
.corti2{
    margin: 4px;
    width: 330px ;
    height: 30px;
    
}
.corti{
    width: 330px ;
    margin: 5px ;
    height: 30px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(175, 175, 175);
}
.cortibot{
    width: 330px ;
    border: none;
    background-color: rgb(72, 193, 126);
    color: rgb(255, 255, 255);
    margin: 5px ;
    height: 30px;
    border-radius: 5px;
}
.cortibot:hover{
    width: 330px ;
    border: none;
    background-color: rgb(61, 163, 107);
    color: rgb(255, 255, 255);
    margin: 5px ;
    height: 30px;
    border-radius: 5px;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.totpag{
    display: flex;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 670px;
    background-color: rgb(164, 224, 246);
    
}
.divResumen{
    background-color: aqua;
    position: absolute; 
    height: 50vh;
    width: 25vw;
    left: 39%; 
    top: 50%;
    margin: -25px 0 0 -25px;
    display: none;
}

